doctype html
html(lang="ar" dir="rtl")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title= pageTitle ? pageTitle + ' | لوحة الإدارة' : 'لوحة الإدارة'

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")
    link(rel="stylesheet" href="/css/admin.css")

    block head

  body
    // ================= HEADER =================
    header.admin-header
      .admin-header-inner

        a.admin-logo(href="/admin")
          i.fa-solid.fa-shield-halved
          span لوحة الإدارة

        .admin-header-actions
          if currentAdmin
            .admin-user
              i.fa-solid.fa-user
              span= currentAdmin.name || 'Admin'

          a.icon-btn(href="/" title="الموقع")
            i.fa-solid.fa-house


    // ================= LAYOUT =================
    .admin-layout

      // ===== SIDEBAR =====
      aside.admin-sidebar
        nav
          -const link= process.env.ADMIN_PASSWORD
          a(class=page === 'dashboard' ? 'active' : '', href=`/admin/dashboard/${link}`)
            i.fa-solid.fa-chart-line
            span الرئيسية

          a(class=title === 'Orders' ? 'active' : '', href=`/admin/orders/${link}`)
            i.fa-solid.fa-basket-shopping
            span الطلبات

          a(class=title === 'Products' ? 'active' : '', href=`/admin/products/${link}`)
            i.fa-solid.fa-box
            span المنتجات

          a(class=title === 'Offers' ? 'active' : '', href=`/admin/offers/${link}`)
            i.fa-solid.fa-tags
            span العروض

      // ===== MAIN =====
      main.admin-main

        if pageTitle
          .page-header
            h1= pageTitle
            if pageDescription
              p= pageDescription

        block pageActions

        block content

    // ================= FOOTER =================
    footer.admin-footer
      p © 2026 جميع الحقوق محفوظة

    block scripts
